* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
}
.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #333;
}